/** Insert your custom CSS rules here. **/
@font-face{
    font-family:'SF Pro Text';
    src:url(fonts/SF-Pro-Text-Regular.eot);
    src:url(fonts/SF-Pro-Text-Regular.eot?#iefix) format('embedded-opentype'),
    url(fonts/SF-Pro-Text-Regular.woff2) format('woff2'),
    url(fonts/SF-Pro-Text-Regular.woff) format('woff');
    font-weight:300;font-style:normal;font-stretch:normal;
}

@font-face{
    font-family:'SF Pro Display';
    src:url(fonts/SF-Pro-Display-Regular.eot);
    src:url(fonts/SF-Pro-Display-Regular.eot?#iefix) format('embedded-opentype'),
        url(fonts/SF-Pro-Display-Regular.woff2) format('woff2'),
        url(fonts/SF-Pro-Display-Regular.woff) format('woff');
    font-weight:400;font-style:normal;font-stretch:normal;
} 

.fa-sapbo:before {
  content: "\e900";
}
.fa-saperp:before {
  content: "\e902";
}

/* GENERAL */
blockquote {
    margin: 0 !important;
    border: none !important;
}
p, span, h1, h2, h3, h4, h5, h6, blockquote, ul, ol, table, a, nav {
    letter-spacing: 0.4px;
}
ul.grid-parent {
    margin: 0;
}
ul.grid-parent li {
    list-style: none;
}
.wip-sticky,
.sticky-enabled.single-lp_course .wip-sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.admin-bar .wip-sticky,
.admin-bar.sticky-enabled.single-lp_course .wip-sticky {
    top: 32px;
}
.admin-bar.sticky-enabled .wip-sticky {
    top: 80px;
}
.sticky-enabled .wip-sticky {
    top: 48px;
}
.with-columns {
	overflow: hidden;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.frase {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

.wip-header-line {
    height: 2px;
    width: 45px;
    margin: 0 auto 30px;
}
.wip-header-white-line {
    height: 2px;
    width: 45px;
    background: #fff;
    margin: 0 auto 30px;
}
.wip-normal-line {
    height: 2px;
    width: 45px;
    margin: 0 0 30px;
}
.wip-normal-white-line {
    height: 2px;
    width: 45px;
    background: #fff;
    margin: 0 0 30px;
}
.wip-btn-white {
    padding: 15px;
    border: 2px #fff solid;
    color: #fff !important;
    font-family: "SF Pro Display";
    border-radius: 4px;
}
.wip-btn-white:hover {
    background-color: #fff;
    color: #252525 !important;
}
.wip-btn {
    padding: 17px;
    font-family: "SF Pro Display";
    border-radius: 4px;
}

i.wip-circle {
    border: 2px solid;
    border-radius: 100px;
    padding: 21px 18px;
    min-width: 39px;
    font-size: 30px;
    margin-right: 4%;
    color: #777;
}

.wip-40-top {
	padding-top: 40px;
}
.wip-40-bottom {
    padding-bottom: 40px;
}
.wip-10-top {
    padding-top: 10px;
}
.wip-10-bottom {
    padding-bottom: 10px;
}
.wip-20-top {
    padding-top: 20px;
}
.wip-20-bottom {
    padding-bottom: 20px;
}
.wip-50-top {
    padding-top: 50px;
}
.wip-50-bottom {
    padding-bottom: 50px;
}
.wip-25-top {
    padding-top: 25px;
}
.wip-20 {
    padding: 20px 0;
}
.wip-50 {
    padding: 50px 0;
}
.wip-40 {
    padding: 40px 0;
}
.wip-40-40 {
    padding: 40px 40px;
}
.wip-right {
    float: right;
}
.bg-skyblue {
    background: #E4F1F7; 
}
.bg-gray {
    background: #f9f9f9;
}
.bg-white {
    background: #fff;
}
.bg-blue {
    background: #337ab7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #337ab7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #337ab7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}
.bg-blue h2{
    color: #fff;
}
.bg-blue .slider-home .owl-nav {
    width: 100%;
    left: 0;
}
.bg-blue .slider-home .owl-prev, .bg-blue .slider-home .owl-next {
    color: #fff !important;
}
.bg-blue .slider-home .owl-prev:hover, .bg-blue .slider-home .owl-next:hover {
    color: #fff !important;
}
.tiny-section {
    margin: 0px 5%;
    width: 90% !important;
}
.tiny-column {
    padding: 0 3% 0 !important;
}
.tiny-column i {
    margin-bottom: 12px;
}
.skinny-section {
  padding-right: 5% !important;
  padding-left: 5% !important;
}
.bg-section {
    font-family: "SF Pro Display";
    color: #fff;
}
.bg-section h2{
    color: #fff;
}
.wip-social {
    padding: 20px 0 0;
    text-align: center;
}
.wip-social a {
    margin: 0 8px;
    color: #777 !important;
}
#wip-contact-info .wip-social {
    margin: 38px 0 0;
}

/* Acordeon styles */
.wip-tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
}
.wip-tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.wip-tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
.wip-tab .tab-content {
  max-height: 0;
  overflow: hidden;
  background: #fff;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.wip-tab .tab-content p,
.wip-tab .tab-content ul {
  margin: 1em;
}
/* :checked */
.wip-tab input:checked ~ .tab-content {
  max-height: 10em;
}
/* Icon */
.wip-tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.wip-tab input[type=checkbox] + label::after {
  content: "+";
}
.wip-tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.wip-tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
/* END General */

/** General Colors **/
/* Link Color Buttons */
.wip-header-line, .wip-normal-line, .wip-btn, .wip-form .wpcf7 .wip-submit input, a.wip-download-btn  {
  background: #337ab7;
  color: #fff !important; 
}
/* Hover buttons */
.wip-btn:hover, .wip-form .wpcf7 .wip-submit input:hover, a.wip-download-btn:hover {
  background: #00bfff;
}
/* Hover buttons with normal color */
body.home.page a:hover, #wip-tabs-courses label:hover, #wip-tabs-courses input:checked + label {
  color: #337ab7;
}
.slider-home .owl-prev:hover, .slider-home .owl-next:hover, .wip-social a:hover {
  color: #337ab7 !important;
}
/* Body colors */
body.home.page a {
  color: #444444;
}
body.home.page #footer-widgets a, body.home.page .copyright-bar a {
  color: #ccc;
}
body.home.page #footer-widgets a:hover, 
body.home.page .copyright-bar a:hover, 
body.home.page .generate-back-to-top,
body.home.page .generate-back-to-top:hover {
  color: #fff;
}
/** END General Color **/
/* Header */
#site-navigation a, .menu-toggle {
    letter-spacing: 0;
}
.main-navigation .main-nav ul ul li a {
    font-weight: normal;
    font-size: 12px !important;
}
.site-header .header-image {
    vertical-align: middle;
    width: 196px;
}

.sub-menu li {
    border-bottom: 1px solid #e4e2e2;
}

.sub-menu li:last-child {
    border: none;
}

.sub-menu li a {
  text-transform: none;
}
/* slider-home */
.slider-home .owl-stage {
    margin: 0 auto;
}

.slider-home .owl-nav {
    margin-top: -43px !important;
    position: absolute;
    top: 50%;
    width: 110%;
    left: -5%;
}

.slider-home .owl-prev, .slider-home .owl-next {
    color: #999999 !important;
    margin: 0 !important;
    position: absolute;
    background: none !important;
    padding: 15px !important;
    opacity: 1;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.slider-home .owl-prev {
    left: 0;
}

.slider-home .owl-next {
    right: 0;
}

.slider-home:hover .owl-prev, .slider-home:hover .owl-next {
    opacity: .4;
}

.slider-home .owl-prev:hover, .slider-home .owl-next:hover {
    opacity: 1;
}

/* Table column sizing
================================== */
.wip-table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.wip-table--2cols > .wip-cell  { width: 50%; }
.wip-table--2cols > .wip-cell-right  { width: 40%; margin-right: 10%}
.wip-table--2cols > .wip-cell-left  { width: 40%; margin-right: 10%}
.wip-table--3cols > .wip-cell  { width: 33.33%; }
.wip-table--4cols > .wip-cell  { width: 25%; }
.wip-table--5cols > .wip-cell  { width: 20%; }
.wip-table--6cols > .wip-cell  { width: 16.6%; }

.wip-cell h4.wip-icon-text, .wip-cell-left h4.wip-icon-text, .wip-cell-right h4.wip-icon-text {
    margin-top: 28px;
    text-align: left;
}
.wip-cell, .wip-cell-left, .wip-cell-right {
  flex-grow: 1;
  width: 100%;  /* Default to full width */
  margin: 10px 0;
  overflow: hidden; /* Or flex might break */
}
.wip-cell-right * {
  float: right;
}

.wip-cell-left * {
  float: left;
}

/* WIP Courses */
#wip-tabs-courses {
    padding: 0 5%;
}

#wip-tabs-courses .tab-section {
  visibility: hidden;
  height: 0;
  opacity: 0;
}

#wip-tabs-courses input {
  display: none;
}

#wip-tabs-courses label {
  display: inline-block;
  padding: 0 25px 10px;
  font-weight: 700;
}

#wip-tabs-courses label i {
    padding-bottom: 10px;
    font-size: 5vh;
}

#wip-tabs-courses label i.fa-sapbo {
    font-size: 4.7vh;
}

#wip-tabs-courses label:after {
    font-family: fontawesome;
    content:'\f107';
    font-size: 24px !important;
    display: block;
}

#wip-tabs-courses label:hover {
  cursor: pointer;
}

h3.wip-initial-date span {
    display: block;
    float: left;
    margin: 0 7px 7px 0;
}

h3.wip-initial-date {
    line-height: 25px;
}

.learn-press-courses {
    position: relative;
    width: auto;
}

.learn-press-courses .lp_course {
    text-align: left;
    background-color: #FFF;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.learn-press-courses .lp_course p, .learn-press-courses .lp_course span, .learn-press-courses .lp_course time {
    font-size: 14px;
    color: #777;
}

.lp_course .course-thumbnail {
    margin: 0;
    overflow: hidden;
    position: relative;
}

.learn-press-courses .lp_course:hover {
    box-shadow: 7px 4px 18px rgba(0,0,0,.08);
}

.lp_course .course-thumbnail>a {
    width: 100%;
    display: inline-block;
    position: relative;
}

.owl-next, .owl-next .fa, .owl-prev, .owl-prev .fa, a, button, input[type=submit] {
    -webkit-transition: all .3s;
    -khtml-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.learn-press-courses .lp_course:hover .course-thumbnail img {
    -webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    -o-transform: scale(1.05,1.05);
    background: linear-gradient(to right,#141E30 0,#243B55 100%);
}

.lp_course .course-thumbnail img {
    width: 100%;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -khtml-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.lp_course .course-thumbnail .rate {
    width: 85px;
    line-height: 30px;
    background-color: rgba(0,0,0,.35);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.thim-style-content-new-1 .lp_course .thim-course-content {
    padding-top: 15px;
}

.lp_course .thim-course-content {
    line-height: 25px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    padding: 0 20px;
}

.lp_course .thim-course-content .course-author {
    margin-top: 0;
    position: relative;
    margin-bottom: 0;
}

.learn-press-courses .lp_course .thim-course-content .course-title {
    margin-top: 7px;
}

.learn-press-courses .lp_course .thim-course-content .course-content {
    min-height: 110px;
}

.learn-press-courses .lp_course .thim-course-content .course-meta {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-weight: 700;
}

.lp_course .thim-course-content .course-meta {
    overflow: hidden;
    position: relative;
    padding: 14px 0 10px;
    display: block;
    margin: 0;
}
.learn-press-courses .lp_course .thim-course-content .course-meta .course-price .value.free-course {
    font-size: 18px;
    font-weight: 500;
    color: #00d637;
}
.learn-press-courses .lp_course .thim-course-content .course-meta .course-price .value .course-origin-price {
    font-weight: 300;
    font-size: 14px;
    color: #999;
}
.learn-press-courses .lp_course .thim-course-content .course-meta .course-price .value {
    color: #3f81fc;
}
.learn-press-courses .lp_course .thim-course-content .course-meta {
    border: 1px solid #e5e5e5;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
.learn-press-courses .lp_course .thim-course-content .course-meta .course-students {
    float: right;
    margin-right: 0;
}
/* Formation*/
#wip-formation {
    overflow: hidden;
    height: 500px;
}
#wip-formation .wip-table {
    color: #777;
}
.bg-formation {
    height: 100%;
    background-size: cover !important;
    background-position-y: -110px !important;
    position: relative;
}
.bg-formation i {
    color: #fff;
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    left: 46%;
}
/* About us */
.about-img {
    float: right;
    margin-top: -30px;
}
.count-title {
    background: -webkit-linear-gradient(#6020d2,#2e67f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
}
.counter-box-content {
    color: grey;
}

/* Register course */
#wip-register-course:before {
    background-color: rgba(0,0,0,.3);
    position: absolute;
    display: block;
}

.wip-register-form {
    background-color: #FFF;
    max-width: 434px;
}
.wip-register-form .head_form {
    padding: 40px 30px 115px;
    background-color: #3f81fc;
    background-image: url(images/bg_song.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.wip-register-form .head_form h4 {
    margin: 0;
    color: #FFF;
    line-height: 40px;
    text-transform: uppercase;
}
.wip-register-form .head_form h2 {
    margin: 0;
    color: #FFF;
    line-height: 45px;
}
.wip-register-form .content {
    padding: 0 30px 55px;
}

.wip-register-form .field_item {
    border-bottom: 1px solid #eee;
}

/* What we do */
.thim-widget-icon-box:hover .image_box {
    box-shadow: none;
}
.thim-widget-icon-box .image_box {
    border: 1px solid #eee;
    box-shadow: 6px 4px 18px rgba(0,0,0,.08);
    margin-bottom: 0 !important;
    border-radius: 10px;
    overflow: hidden;
        min-height: 200px;
}

.thim-widget-icon-box:hover .image_box img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.thim-widget-icon-box .image_box img {
    -webkit-transition: all .2s ease-in-out 0s;
    -khtml-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
    border-radius: 10px 10px 0 0;
}

.wrapper-box-icon:not(.background-video):not(.contact_info):not(.overlay) .smicon-box {
    overflow: hidden;
}
.wrapper-box-icon:not(.background-video):not(.contact_info):not(.overlay) .smicon-box {
    overflow: hidden;
}
.inner-icon {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
.thim-widget-icon-box .image_box .icon.icon-images {
    background-image: url(images/bg_icon.png);
    height: 120px;
    background-repeat: no-repeat;
    width: 115px;
}
.inner-icon .icon {
    -webkit-transition: background .2s,color .2s;
    -moz-transition: background .2s,color .2s;
    transition: background .2s,color .2s;
}
.inner-icon .icon, .wapper_portfolio.standard.effects_zoom_02 .mask-content {
    display: table-cell;
    vertical-align: middle;
}
.thim-widget-icon-box .wrapper-box-icon.has_custom_image:not(.overlay) .desc-icon-box {
    margin-top: 12px;
    padding-right: 0;
        min-height: 66px;
}
.thim-widget-icon-box .content-inner {
    padding: 15px;
}
.thim-widget-icon-box .content-inner .desc-content {
    font-size: 14px;
}
/* SPONSORS */
#wip-sponsors {
    border-top-style: solid;
    border-top-color: #ddd;
    border-top-width: 1px;
}
.title-sponsors {
    letter-spacing: 2px;
    color: #777 !important;
    margin: 0;
}
/* Testimonial */
img.person-img {
    width: inherit !important;
    margin: 0 auto;
}
.person-name {
    text-transform: uppercase;
}
#testimonial .text-caption {
    padding: 0 5%;
}
/* CLIENTS GENERAL */
img.client-item:hover {
    opacity: 1;
}

img.client-item {
    width: 50% !important;
    margin: 0 auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
    -webkit-transition: all .2s ease-in-out 0s;
    -khtml-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

/* Contact */
#wip-contact {
    position: relative;
    z-index: 1;
    background-size: cover !important;
    background-position: center center !important;
}
#wip-contact:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, #141E30 0%, #243B55 100%);
    background: -o-linear-gradient(left, #141E30 0%, #243B55 100%);
    background: linear-gradient(left,#141E30 0%,#243B55 100%);
    opacity: 0.8;
    visibility: visible;
    z-index: -1;
}

#wip-contact .wip-form {
    padding-left: 17%;
    padding-right: 17%;
}

#wip-contact .wip-form .wpcf7 .wip-input {
  margin-bottom: 25px;
}

#wip-contact .wip-form .wpcf7 .wip-input label {
    display: none;
}

#wip-contact .wip-form .wpcf7 .wip-input input {
    background: none;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #fff;
    font-family: "SF Pro Display";
}
#wip-contact .wip-form .wpcf7 .wip-input input::placeholder {
    color: #ccc;
}

#wip-contact .wip-form .wpcf7 .wip-submit input {
  background: #00bfff;
  font-weight: 400;
}

#wip-contact .wip-form .wpcf7 .wip-submit input:hover {
  background: #337ab7;
}

/* Footer */
.site-info {
  border-top: 1px solid #ccc;
}
.contact-list i {
    min-width: 30px;
    text-align: center;
}
.contact-list li:last-child i {
    height: 30px;
    float: left;
}
/* COURSES POST TyPE */
#learn-press-course-tabs {
    margin: 0 !important;
}
.single-lp_course #sticky-navigation,
.single-lp_course #sticky-placeholder {
    display: none;
}

.single-lp_course.one-container .inside-article {
    padding-bottom: 0 !important;
}
.single-lp_course .generate-inside-page-header-content {
    position: relative;
    z-index: 0;
    font-family: "SF Pro Display";
}
.single-lp_course .generate-content-header .page-header-content-container {
    padding-top: 12vh;
    padding-bottom: 15vh;
    width: 46%;
    margin-left: 4%;
}
.generate-inside-page-header-content h1 {
    font-weight: 400;
}

.single-lp_course .entry-content, .single-lp_course  .entry-summary, .single-lp_course  .page-content {
  margin: 0;
}

.single-lp_course ul.learn-press-nav-tabs, .single-lp_course #course-navigation .menu-toggle {
  background-color: #e4f1f7;
}

#course-navigation {
  z-index: 99;
}

.single-lp_course ul.learn-press-nav-tabs {
    border: none;
    padding: 8px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.single-lp_course ul.learn-press-nav-tabs .course-nav a {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-family: "Open Sans";
    font-weight: 600;
}

.single-lp_course ul.learn-press-nav-tabs .course-nav.active:after, ul.learn-press-nav-tabs .course-nav:hover:after {
    display: none;
}

.course-info-box {
    border: 2px #337ab7 solid;
    padding: 20px 20px 0;
    color: #777;
}

a.wip-download-btn {
    display: block;
    margin-top: 10px;
    padding: 10px 0 8px;
    text-align: center;
    text-transform: uppercase;
}

ul.wip-list {
    overflow: hidden;
}

ul.wip-list li {
    float: left;
    margin: 0 3%;
    width: 44%;
    min-height: 42px;
}

section .border-section {
    border-right: 2px solid;
    padding: 0 20px;
    min-height: 200px;
}

section .border-section:last-child {
    border: none;
}

.single-lp_course .course-author, .single-lp_course .course-author .author-name {
    margin: 0 !important;
}
.single-lp_course .course-author .author-name img {
    margin-bottom: 20px;
}

.single-lp_course .course-author .author-bio {
    font-style: normal !important;
}

#course-instructors .thim-widget-icon-box .image_box img {
    width: inherit;
    display: initial;
    margin-top: 25px;
}
#tab-instructor .slider-home .owl-stage {
  margin: inherit;
}
/** WIP FORM GENERAL **/
.wip-form .wpcf7 .wip-input {
    margin-bottom: 15px;
    padding: 0 18px;
}

.wip-form .wpcf7 .wip-input label {
    float: left;
    width: 100%;
    font-weight: 600;
}

.wip-form .wpcf7 .wip-input input,
.wip-form .wpcf7 .wip-input select,
.wip-form .wpcf7 .wip-input textarea {
    width: 100%;
    border-radius: 5px;
    height: 50px;
}

.wip-form .wpcf7 .wip-submit input {
    font-weight: 700;
    padding-right: 50px;
    padding-left: 50px;
}

.wip-form .wpcf7 .wip-submit input, a.wip-download-btn {
    border-radius: 4px;
    color: #fff;
    transition: .2s background;
}

.wip-form .wpcf7 .wip-submit input:focus {
    background-color: #337ab7;
}

.wip-form .wpcf7-response-output {
    display: none !important;
}

/** CUSTOMIZE REGISTER FORM **/
#tab-enroll .wip-input {
    color: #777;
}

#tab-enroll .wip-input input, 
#tab-enroll .wip-input select,
#tab-enroll .wip-input textarea {
    border: 3px solid #ddd;
    box-shadow: none;
}

#tab-enroll .wip-input input:hover, 
#tab-enroll .wip-input select:hover,
#tab-enroll .wip-input textarea:hover {
    border-color: #AFDFE4;
    box-shadow: none;
}

#tab-enroll .wip-input input:focus,
#tab-enroll .wip-input select:focus,
#tab-enroll .wip-input textarea:focus,
#tab-enroll .wpcf7-validates-as-required
 {
    box-shadow: none;
    background-color: rgba(255,221,0,0.15);
}

.generate-inside-page-header-content .wip-btn {
    padding: 17px 52px;
}

/* OTHER PAGES */
#wip-proposal {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#wip-proposal ul.wip-list {
    margin: 0 25%;
}

.archive .site-content, .post-type-archive-lp_course .site-content {
    padding: 5% 10% 0 !important;
}

/** RESPONSIVE CSS **/
@media only screen 
  and (max-device-width: 768px) { 
    .sub-menu li {
      border: none;
    }
    .sub-menu li a {
      color: #ffffff !important;
      background-color: #337ab7;
    }
    section .border-section {
        border: none;
    }
    .wip-cell h4.wip-icon-text, .wip-cell-left h4.wip-icon-text, .wip-cell-right h4.wip-icon-text {
      margin-top: 15px;
    } 
    .tiny-column {
        padding: 0 !important;
    }
    #wip-tabs-courses label {
      padding: 0 10px 20px;
    }
    #wip-contact .wip-form {
      padding-left: 0;
      padding-right: 0;
    }
    #wip-contact .wip-form .wpcf7 .wip-submit input {
      margin: 0 15px;
    }
    .inside-header>:not(:last-child):not(.main-navigation) {
        margin: 13px 0 5px !important;
    }
    #wip-tabs-courses label i {
      font-size: 4vh;
    }
    #wip-tabs-courses label i.fa-sapbo {
      font-size: 3.7vh;
    }
    
    #testimonial .text-caption {
        padding: 0;
    }
    /** COURSE CPT TYPE */
    .admin-bar .wip-sticky,
    .admin-bar.sticky-enabled.single-lp_course .wip-sticky {
      top: 0;
    }
    .admin-bar.sticky-enabled .wip-sticky {
      top: 47px;
    }
    .sticky-enabled .wip-sticky {
      top: 47px;
    }
    .generate-content-header {
        background-position: 85% center !important;
    }
    .single-lp_course .generate-inside-page-header-content:after {
        content: "";
        display: block !important;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: -webkit-linear-gradient(left, rgba(64,64,64,0.6) 0%, rgba(64,64,64,0.33) 100%, rgba(64,64,64,0) 100%);
        background: -o-linear-gradient(left, rgba(64,64,64,0.6) 0%, rgba(64,64,64,0.33) 100%, rgba(64,64,64,0) 100%);
        background: linear-gradient(to right, rgba(64,64,64,0.6) 0%, rgba(64,64,64,0.33) 100%, rgba(64,64,64,0) 100%);
        visibility: visible;
        z-index: -1;
    }
    .single-lp_course .generate-content-header .page-header-content-container, .generate-content-header .page-header-content-container {
        margin: 0;
        width: inherit ;
        text-align: center;
        padding-top: 6vh ;
        padding-bottom: 9vh ;
        padding-left: 4vh ;
        padding-right: 4vh ;
    }
    .single-lp_course #course-navigation .menu-toggle {
        display: block;
        line-height: 20px;
        padding: 10px;
    }
    .single-lp_course ul.learn-press-nav-tabs {
        display: block;
        overflow: hidden;
        max-height: 0;
        padding: 0;
    }
    #course-navigation.toggled #course-menu ul {
        max-height: 100%;
        padding: 0 0 8px;
    }
    .single-lp_course ul.learn-press-nav-tabs li.course-nav  {
        margin: 0 0 4px;
        width: 100%;
        text-align: center;
    }

    /* EXTRAS */
    ul.wip-list li {
        width: 90%;
        min-height: inherit;
        margin: 0 10% 3px;
    }
    #wip-contact-info .wip-social {
        margin: 0;
    }
    #wip-contact-info h4, #wip-contact-info h3 {
        font-size: 14px;
    }
    #wip-proposal ul.wip-list {
        margin: 0 !important;
    }
}

@media only screen 
  and (min-device-width: 769px) { 
    /* HOME ONLY */
    body.home.page .site-header {
        background-color: rgba(255, 255, 255, 0) !important;
        color: #fff !important;
        position: absolute !important;
        z-index: 100;
        width: 100%;
        border-bottom: 1px solid;
    }

    body.home.page .site-header #site-navigation {
        color: #fff;
        background-color: rgba(255, 255, 255, 0);
    }

    body.home.page #site-navigation .main-nav ul li[class*="current-menu-"] > a {
        color: #fff;
        background-color: rgba(255, 255, 255, 0);
    }

    body.home.page #site-navigation .main-nav ul li[class*="current-menu-"] > a:hover, body.home.page #site-navigation .main-nav ul li[class*="current-menu-"].sfHover > a {
        color: #fff;
        background-color: rgba(255, 255, 255, 0);
    }

    body.home.page #site-navigation .main-nav>ul>li>a {
        color: #fff;
    }

    body.home.page #site-navigation .main-nav > ul > li:hover > a, body.home.page #site-navigation .main-nav > ul > li:focus > a, body.home.page #site-navigation .main-nav > ul > li.sfHover > a {
        color: #fff;
        background-color: rgba(255, 255, 255, 0);
    }
    body.home.page, body.home.page button, body.home.page input, body.home.page select, body.home.page textarea {
      font-size: 17px;
    }
}

@media only screen 
and (max-device-width: 321px) { 
}
